.Pricing {
  margin-top: 5rem;
  padding: 2rem;
  width: 35rem;
  height: 25rem;
  background-color: white;
  box-shadow: 3px 3px 20px hsl(227, 100%, 95%);
  border-radius: 0.5rem;
}
.price-req {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.price-req p {
  color: hsl(225, 20%, 60%);
  margin: 0;
}
#pageview {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#price span {
  font-size: 1.3rem;
  font-weight: 800;
  color: black;
}
.slide {
  position: relative;
  height: 2rem;
}
#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  background-color: hsl(224, 65%, 95%);
  cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
#selector {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0px 5px 25px hsla(174, 86%, 45%, 0.7);
}
.select-btn {
  height: 13px;
  width: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#progress-bar {
  height: 0.5rem;
  background-color: hsl(174, 86%, 45%);
  width: 50%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.75rem;
  pointer-events: none;
}
#slider:active ~ #selector {
  background-color: hsl(174, 83%, 30%);
}
#selector:hover {
  background-color: hsl(174, 84%, 49%);
}
