.Pricing {
  margin-top: 5rem;
  padding: 3rem;
  width: 35rem;
  max-width: 90vw;
  background-color: white;
  box-shadow: 3px 3px 20px hsl(227, 100%, 95%);
  border-radius: 0.5rem;
}
.price-req {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.price-req p {
  color: hsl(225, 20%, 60%);
  margin: 0;
}
#pageview {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#price {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
#price span {
  font-size: 2.5rem;
  font-weight: 800;
  color: black;
}
.slide {
  position: relative;
  height: 2rem;
  margin: 2rem 0;
}
#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  margin: 0.75rem 0;
  border-radius: 0.5rem;
  background-color: hsl(224, 65%, 95%);
  cursor: pointer;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 3;
  position: relative;
}
#selector {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 50%;
  background-color: hsl(174, 86%, 45%);
  box-shadow: 0px 5px 25px hsla(174, 86%, 45%, 0.7);
}
.select-btn {
  height: 13px;
  width: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#progress-bar {
  height: 0.5rem;
  background-color: hsl(174, 86%, 45%);
  width: 50%;
  border-radius: 0.5rem;
  position: absolute;
  top: 0.75rem;
  pointer-events: none;
}
#slider:active ~ #selector {
  background-color: hsl(174, 83%, 30%);
}
#selector:hover {
  background-color: hsl(174, 84%, 49%);
}
.billing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.billing p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 800;
  color: hsl(225, 20%, 60%);
}
.billing p:first-child {
  margin-left: 4.8rem;
}
#discount {
  font-size: 0.7rem;
  color: hsl(15, 100%, 70%);
  background-color: hsl(14, 92%, 95%);
  padding: 0.3rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 2.8rem;
  height: 1.4rem;
  cursor: pointer;
}
.switch input {
  display: none;
}
.toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: hsl(223, 50%, 87%);
  transition: all 0.4s;
}
.toggle::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 0.2rem;
  left: 0.2rem;
  background-color: white;
  transition: all 0.4s;
}
.switch:hover .toggle {
  background-color: hsl(174, 84%, 49%);
}
input:checked + .toggle {
  background-color: hsl(174, 83%, 30%) !important;
}
input:checked + .toggle::before {
  left: 1.6rem;
}
hr {
  margin: 0 -3rem;
  height: 1px;
  border: none;
  background-color: hsl(227, 100%, 95%);
}
