main {
  background-image: url("./assets/images/bg-pattern.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  place-content: center;
}
h1 {
  margin: 0.2rem 0;
  text-align: center;
}
h2 {
  text-align: center;
  margin: 0.2rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(225, 20%, 60%);
}
@media only screen and (max-width: 540px) {
  main {
    background-size: 250%;
  }
  h1 {
    font-size: 1.7rem;
  }
}
