* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 15px;
}
body {
  background-color: hsl(230, 100%, 99%);
  margin: 0;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
